<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>HashBang</title>
<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="icon" type="image/png" href="static/images/favicon_1.png" />
<link href="static/customstyle/mystyle.css" rel="stylesheet">
<link href="static/customstyle/loading-animation/loading-animation-style.css" rel="stylesheet" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--Adjusting for Mobile View-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

												<!--SIDE NAVIGATION BAR--->
											<!--Div for side navigation bar -->
<div class="hashSideBar shadow">            
	<a class="navbar-brand logo" href="#">HASHBANG</a>
    <div class="hashUsernameSidebar h5">THURSDAY, APRIL 8 2014</div>
    
    <div id="squaresWaveG" class="hashLoadingDisplayHidden">
			<div id="squaresWaveG_1" class="squaresWaveG"></div>
			<div id="squaresWaveG_2" class="squaresWaveG"></div>
			<div id="squaresWaveG_3" class="squaresWaveG"></div>
			<div id="squaresWaveG_4" class="squaresWaveG"></div>
			<div id="squaresWaveG_5" class="squaresWaveG"></div>
			<div id="squaresWaveG_6" class="squaresWaveG"></div>
			<div id="squaresWaveG_7" class="squaresWaveG"></div>
			<div id="squaresWaveG_8" class="squaresWaveG"></div>
  </div> 
        
    <div class="form-group  has-feedback hashSearchBox" >
    	<input type="search" class="form-control col-xs-1 hashSearchSidebar" placeholder="Stories, #Tags">
        <span class="glyphicon glyphicon glyphicon-search   form-control-feedback hashAdjustTopIcon" ></span>
    </div>
   
   
    	<div >    
        	<div class="hashTrendingHeading" >
            	<span style="padding:0px">Trending Now</span>
                <div class="hashTrendingListHeadingColorBox" style="padding:0px;"></div>
            </div>
                
   			<ul id="hashTrendingTagBox"  class="hashTrendinglist">
            <!--Content area for placing templete here     
    			<li class="hashListItemTrending">#CrazyLove</li>   -->
    		</ul>
          
           
        </div>
        
        <div class="hashUserSettingInfo">
        	<span class="glyphicon glyphicon-user hashSideBarBookMarkBox hashSideBarShadow"></span>
            <span class="glyphicon glyphicon-wrench hashSideBarBookMarkBox hashSideBarShadow"></span>
            <span class="glyphicon glyphicon-edit hashSideBarBookMarkBox hashSideBarShadow"></span>
        </div>
   
</div><!--DIV for hashSideBarEnds-->
            
            
     					<!-----------------------------SIDEBAR ENDS-------------------------------------------->
                                                
                                                
                                                
<body >


	<div class="container-fluid" >
  		<div class="row">
            <!--Column for Content Story Page-->
            <div class="col-xs-12 col-md-12 hashMainBackground" >
            	<div class="row">
            		<!--Creating a small navigation style on top.-->
                	<div class="col-md-10 hashCurrentPageNav"></div>
                	<div class="col-md-2 hashNextPageNav"></div>
            	</div>
                
                
                
            	<!--Division Area for story -->
            	<div class="row">
                <!-----------------------DIVISION AREA FOR COLUMN-1----------------------------------->
                	<div id="hashColumn1View" class="col-xs-12 col-md-5 hashMainColumn">
                    	
                        <!--Space for Column-2-->
                        
                    </div>
                   
         <!---------------------------DIVISION AREA FOR COLUMN-2----------------------------------------->
                   <div id="hashColumn2View" class="col-xs-12 col-md-5 hashMainColumn">
                 		
                        <!--Space for Column-2-->
                         
                   </div>
                   
                   
          <!---------------------------DIVISION AREA FOR HALFCOLUMN----------------------------------------->
                   <div id="hashHalfColumnView" class="col-xs-12 col-md-2 hashMainHalfColumn">
                   		<!--Space for Half Column-->
                   </div>
                
                 	
                    
                </div><!--End of  row Area main of Content story-->
            	
            </div>
  		</div>
</div>
	
   
   
   				 			<!------------------------------TEMPLATES----------------------------------->
<!--Script template for hashMainStory-->                            
<script type="text/template" id="hashbang-hashBookMarkBox">
	<!--Adding Bookmark before a story-->
    <div class="col-md-12">
    	<span class="glyphicon glyphicon-bookmark shadow h5 hashBookMarkBox"></span>
        <span class="glyphicon glyphicon-star shadow h5 hashBookMarkBox" style="margin-left:5px;"></span>
        <span class="glyphicon  glyphicon-fullscreen shadow h5 hashBookMarkBox" style=" float:right"></span>
    </div> 
	<!--heading and other info are inserted either manually or through using template-->
	
</script>

<!-- Template for mainstoryhashtag -->
<script type="text/template" id="hashbang-hashMainStoryHashTag">
	<h5 class="col-md-12 text-muted hashMainStoryHashTag"> <%= tagName %> </h5>
</script>

<!-- Template for hashMainStoryMetadata -->    
<script id="hashbang-hashMainStoryMetadata" type="text/template">
	<h4 class="col-md-12 text-danger hashMainPromoteText">Click to promote tags</h4>
    <!--POSTED HASHTAG AREA-->        
    <div class="row">
    	<div class="col-lg-11 hashMainHashTagPostBox" >
    		<div class="input-group">
      			<input type="text" class="form-control hashMainHashTagPost" placeholder="Post #Tag">
      			<span class="input-group-btn hashMainTagPostSubmitButtonGroup">
        			<button class="btn btn-default hashMainTagPostSubmitButton" type="button">Go!</button>
      			</span>
    		</div> <!--input-group div ends -->
  		</div> <!-- col-lg-11 -->
	</div><!-- row -->       
</script>
    
    
     <!--Templates for votes flag --->
    <script type="text/template" id="hashbang-votesFlag">
    	<h4 class="col-md-12 glyphicon glyphicon-thumbs-up hashMainVotesThumb"></h4>
        <div class="col-md-12 hashTotalVoteFlag"><%= totalVotes %></div> 
        <h4 class="col-md-12 glyphicon glyphicon-thumbs-down hashMainVotesThumb"></h4>
	</script>
    
    <!--Template for trending tags-->
    <script type="text/template" id="hashbang-trendingTag">
    	<li class="hashListItemTrending"> <a href="#/search/tag/<%= hashTagName %>/TagId/<%= tagId %>"> <%= hashTagName %> </a> </li> 
	</script>

    <!--Template for  single NavLink-->
    <script type="text/template" id="hashbang-navLink">
			<a href="#/search/navlink/<%= navTitle %>/id/<%= navId %>" > <%= navTitle %> </a>
    </script>
    
    
    <!--Template for adding postedTag model... -->
    <script type="text/template" id="hashbang-postedTag">
		<span class=" h5  hashMainStoryPostedHashTag  "> <%= tagName %> </span>
    </script>
    

		<!-------------------------------------------TEMPLATES AREA ENDS---------------------------------------->


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/jquery/jquery-1.7.2.min.js"></script>
   
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/bootstrap/js/bootstrap.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    <script src="static/js/Backbone.localStorage-master/backbone.localStorage-min.js"></script>
    
    <!--Now loading MVC related files -->
    <script src="static/js/models/hashbang-model.js"></script>
    <script src="static/js/collections/hashbang-collection.js"></script>
    <script src="static/js/views/app-pages.js"></script>
    <script src="static/js/views/hashbang-view.js"></script>
    <script src="static/js/routers/hashbang-routers.js"></script>
    <script src="static/js/app-main/hashbang-app-main.js"></script>
    
    <script type="text/javascript" src="static/customscript/myscript.js"></script>
    

    
</body>
</html>
