<style>
#squaresWaveG{
position:relative;
width:66px;
height:8px}

.squaresWaveG{
position:absolute;
top:0;
background-color:#111111;
width:8px;
height:8px;
-moz-animation-name:bounce_squaresWaveG;
-moz-animation-duration:2.6s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-animation-name:bounce_squaresWaveG;
-webkit-animation-duration:2.6s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-animation-name:bounce_squaresWaveG;
-ms-animation-duration:2.6s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-animation-name:bounce_squaresWaveG;
-o-animation-duration:2.6s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
animation-name:bounce_squaresWaveG;
animation-duration:2.6s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#squaresWaveG_1{
left:0;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#squaresWaveG_2{
left:9px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

#squaresWaveG_3{
left:18px;
-moz-animation-delay:1.56s;
-webkit-animation-delay:1.56s;
-ms-animation-delay:1.56s;
-o-animation-delay:1.56s;
animation-delay:1.56s;
}

#squaresWaveG_4{
left:27px;
-moz-animation-delay:1.82s;
-webkit-animation-delay:1.82s;
-ms-animation-delay:1.82s;
-o-animation-delay:1.82s;
animation-delay:1.82s;
}

#squaresWaveG_5{
left:36px;
-moz-animation-delay:2.08s;
-webkit-animation-delay:2.08s;
-ms-animation-delay:2.08s;
-o-animation-delay:2.08s;
animation-delay:2.08s;
}

#squaresWaveG_6{
left:45px;
-moz-animation-delay:2.34s;
-webkit-animation-delay:2.34s;
-ms-animation-delay:2.34s;
-o-animation-delay:2.34s;
animation-delay:2.34s;
}

#squaresWaveG_7{
left:54px;
-moz-animation-delay:2.6s;
-webkit-animation-delay:2.6s;
-ms-animation-delay:2.6s;
-o-animation-delay:2.6s;
animation-delay:2.6s;
}

#squaresWaveG_8{
left:63px;
-moz-animation-delay:2.86s;
-webkit-animation-delay:2.86s;
-ms-animation-delay:2.86s;
-o-animation-delay:2.86s;
animation-delay:2.86s;
}

@-moz-keyframes bounce_squaresWaveG{
0%{
background-color:#111111;
}

100%{
background-color:#CCCCCC;
}

}

@-webkit-keyframes bounce_squaresWaveG{
0%{
background-color:#111111;
}

100%{
background-color:#CCCCCC;
}

}

@-ms-keyframes bounce_squaresWaveG{
0%{
background-color:#111111;
}

100%{
background-color:#CCCCCC;
}

}

@-o-keyframes bounce_squaresWaveG{
0%{
background-color:#111111;
}

100%{
background-color:#CCCCCC;
}

}

@keyframes bounce_squaresWaveG{
0%{
background-color:#111111;
}

100%{
background-color:#CCCCCC;
}

}

</style>
