@charset "utf-8";
/* CSS Document */
/*CSS DOCUMENT DESIGNED BY ROBINS GUPTA. */


body{
	overflow:hidden;
}


/*----------------------------------------------- UI DESIGN COMMON STYLES ----------------------------------------------*/
/*Shadow effect for cross browser window*/
.shadow {
	/*horizental offset, vertical offset, blur radius, Spread distance,   */
	-moz-box-shadow: 1px 1px 1px 1px #cbc5c5;
	-webkit-box-shadow: 1px 1px 1px 1px #cbc5c5;
	box-shadow: 1px 1px 1px 1px #cbc5c5; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cbc5c5')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cbc5c5');
}

.hashBookMarkBox
{
	background:#fff;
	width:30px;
	height:27px;
	color:#878686;
	text-align:center;
	padding-top:7px;
}

.hashBookMarkBox:hover
{
	color:#333;
	
	cursor: pointer ;	
}

.hashBookMarkBox:active
{
	background:#fff;
	/*horizental offset, vertical offset, blur radius, Spread distance,   */
	-moz-box-shadow: inset 1px 1px 1px 1px #cbc5c5;
	-webkit-box-shadow: inset 1px 1px 1px 1px #cbc5c5;
	box-shadow: inset 1px 1px 1px 1px #cbc5c5; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cbc5c5')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cbc5c5');
		
}




/*------------------------------------------------ STYLE FOR HOME PAGE --------------------------------------------------*/

.hashSideBar{
	height:1500px;
	background: #111111;
}

.hashHomeBackground{
	height:1500px;
	padding:30px;
	background:#171717;
}


.hashStoryBox{
	padding:0px;
	margin-bottom:30px;
}

.hashStoryContentBody{
	background:#212121;
}

.hashStoryImageBox{
	padding:0px;
}

.hashStoryImage{
	width:inherit;
	height:auto;
}

.hashHashTag{
	color:#4e4e4e;
	font-size:14px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
}



.hashStoryLabel{
	float:right;
	margin-right:0px;
	width:40px;
	height:35px;
	padding-top:8px;
	border-radius:0px;
	text-align:center;
	background:#f51e4d;
	color:#fff;		
	font-size: 14px;
	letter-spacing:1.3px;
	font-family: Arial, Helvetica, sans-serif;
}

.hashStoryLabelGreen {
	float:right;
	width:40px;
	height:35px;
	padding-top:8px;
	border-radius:0px;
	text-align:center;
	background:#1dcc16;
	color:#fff;		
	font-size: 14px;
	letter-spacing:1.3px;
	font-family: Arial, Helvetica, sans-serif;

}

.hashStoryLabelOrange {
	float:right;
	width:40px;
	height:35px;
	padding-top:8px;
	border-radius:0px;
	text-align:center;
	background:#f87022;
	color:#fff;		
	font-size: 14px;
	letter-spacing:1.3px;
	font-family: Arial, Helvetica, sans-serif;

}


.hashStoryHeading{
	color:#ddd;
	margin-top:0px;
}

.hashStoryContent{
	color:#bbb;
	text-align:justify;
}



/*---------------------------------------Defining Style for HASHBANG MAIN AREA----------------------------------------- */


.hashMainBackground{
	/*background:#eee;
	*/

}

.hashMainColumn
{

	border-style:solid;
	border-color:#ddd;
	border-width:0px 1px 0px 0px;
	padding-top:15px;
	
}

.hashMainStory{
	/*padding:0px;*/
}

.hashMainHalfStory{
	padding-top:30px;
	width:230px;
	text-align:justify;

}

.hashMainHalfColumn{
	height:1300px;
	padding-right:0px;
	overflow-x:hidden;
}

.hashStoryMainHeading{
	padding-top:0px;
	margin-top:10px;
	margin-bottom:0px;
	padding-bottom:20px;
	color:#424542;
}

.hashMainStoryParagraph{
	color:#393b39;
	padding-bottom:30px;
	font-size:16px;

}


.hashMainStoryImage{
	width: inherit;
	height:auto;
	padding:5px;
	margin-bottom:30px;
}

.hashMainStoryImageBox{
	padding:0px 20px 0px 20px;
}

.hashCurrentPageNav{
	height:8px;
	background:#63bff4;
	border-style:solid;
	border-color:#eee;
	border-width:0px 1px 0px 0px;
	overflow:hidden;
	
}

.hashNextPageNav{
	height:8px;
	background:#19da6a;
	overflow:hidden;
}

.hashMainStoryHashTag{
	padding-bottom:0px;
	margin-bottom:0px;
}