@charset "utf-8";
/* CSS Document */
/*CSS DOCUMENT DESIGNED BY ROBINS GUPTA. */

@media (min-width: 768px)and (max-height:700px ) {
body{
	height:100%;
  	height: 100vh;
	

	/*background:url(../images/whiteback.png) repeat; */
}
}

body{
	margin-left:220px;	
	overflow:hidden;
	
}


@font-face{
	font-family:Lato-Bold-Italic;
	src:url(../bootstrap/fonts/Lato/Lato-BoldItalic.ttf);
}


@font-face{
	font-family:Lato;
	src:url(../bootstrap/fonts/Lato/Lato-Regular.ttf);
}




/*----------------------------------------------- UI DESIGN COMMON STYLES ----------------------------------------------*/
/*Shadow effect for cross browser window*/
.shadow {
	/*horizental offset, vertical offset, blur radius, Spread distance,   */
	-moz-box-shadow: 1px 1px 1px 1px #cbc5c5;
	-webkit-box-shadow: 1px 1px 1px 1px #cbc5c5;
	box-shadow: 1px 1px 1px 1px #cbc5c5; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cbc5c5')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cbc5c5');
}

.hashSideBarShadow{

	/*horizental offset, vertical offset, blur radius, Spread distance,   */
	-moz-box-shadow: 1px 1px 1px 1px #141414;
	-webkit-box-shadow: 1px 1px 1px 1px #141414;
	box-shadow: 1px 1px 1px 1px #141414; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#141414')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#141414');
}


.hashBookMarkBox
{
	background:#fff;
	width:30px;
	height:27px;
	color:#999;
	text-align:center;
	padding-top:7px;
}

.hashBookMarkBox:hover
{
	color:#333;
	
	cursor: pointer ;	
}

.hashBookMarkBox:active
{
	background:#fff;
	/*horizental offset, vertical offset, blur radius, Spread distance,   */
	-moz-box-shadow: inset 1px 1px 1px 1px #cbc5c5;
	-webkit-box-shadow: inset 1px 1px 1px 1px #cbc5c5;
	box-shadow: inset 1px 1px 1px 1px #cbc5c5; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cbc5c5')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cbc5c5');
		
}





/*				-------------------------------STYLE FOR SIDEBAR -----------------------------------*/







/* Hide for mobile, show later */
.hashSideBar {
  display: none;
}
@media (min-width: 768px) {
.hashSideBar {
	
	background: #111111;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	z-index:1000;
	width:220px;
	
  }
}

.logo{

	font-family:"Nueva Std Cond";
	padding-top:30px;
	font-size:35px;
	text-align:center;
	color:#ddd;

}

@media (min-width: 768px) {
.logo {
	
	margin:30px auto 10px auto;
	margin-left:35px;
  }
}

.hashUsernameSidebar{
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-family: Lato, sans-serif;
	color:#555555;
	font-size:11px;
	margin-bottom:50px;
	text-align:center;
	
}


.logo:hover{
	color:#fff;
}


.hashSearchSidebar{
	background:#212121;
	border:none;
	color:#eee;
	border-radius:0px;
	
}

.hashSearchSidebar:focus{
	box-shadow: none ;
	border:none;
	color:eee;
}

.hashSearchBox{
	padding:0px 20px 0px 20px;
	
}

.hashAdjustTopIcon{
	color:#777777;
	top:0px !important;
	right:14px !important;
}

.hashAdjustTopIcon:hover{
	color:#cccccc;
	cursor:pointer;
}


.hashLoadingDisplayHidden{
	/*Default to hidden*/
	
	display:none;
	
}


#squaresWaveG{
	position:relative;
	bottom:30px;
	left:70px;
}


.hashTrendingHeading{
	
	font-family:Lato, sans-serif;
	font-size:15px;
	margin-top:120px;
	color:#bbbbbb;
	padding-left:20px;
	padding-bottom:7px;
	padding-top:4px;
	cursor:pointer;
	border-style:solid;
	border-color:#222222;
	border-width:1px 0px 1px 0px;
}



.hashTrendingListHeadingColorBox{
	width:7px;
	height:7px;
	background:#f61e4c;
	display:inline-block;
	vertical-align:middle;
	margin-left:70px;
	margin-bottom:0px;
}



.hashTrendingHeading:hover div.hashTrendingListHeadingColorBox{
	background:#b30b2e;
}


/*
.hashPostStoryHeading{
	font-family:Lato, sans-serif;
	font-size:16px;
	margin-top:110px;
	color:#bbbbbb;
	padding-left:20px;
	padding-bottom:0px;
	cursor:pointer;
}

.hashPostStoryHeadingColorBox{
	width:7px;
	height:7px;
	background:#30e007;
	display:inline-block;
	vertical-align:middle;
	margin-left:95px;
}
.hashPostStoryHeading:hover div.hashPostStoryHeadingColorBox{
	background:#25a607;
}
*/


.hashTrendinglist{

	list-style-type:none;
	color:#777777;
	padding-left:20px;
	padding-top:10px;
	text-align:left;
	word-wrap:break-word;
	word-break:break-strict;
	font-size:15px;
	/*font-family:Lato, sans-serif;*/
	font-family:Calibri, Arial, Verdana;
	
}

.hashTrendinglist a {
	color:#777777;	
}


.hashListItemTrending{
	margin-bottom:5px;
	padding-right:7px;
	

}

.hashListItemTrending:hover, .hashTrendinglist a:hover{
	cursor:pointer;
	color:#ccc;
}

.hashUserSettingInfo{
	margin-left:38px;
	position:relative ;
	top:20px;

}

.hashSideBarBookMarkBox{
	background:#212121;
	width:45px;
	height:40px;
	color:#8e8d8d;
	text-align:center;
	padding-top:11px;
	font-size:17px;
	cursor:pointer;
}

.hashSideBarBookMarkBox:hover{
	color:#ababab;
}

.hashSideBarBookMarkBox:active{
	/*horizental offset, vertical offset, blur radius, Spread distance,   */
	-moz-box-shadow: inset 1px 1px 1px 1px #141414;
	-webkit-box-shadow: inset 1px 1px 1px 1px #141414;
	box-shadow: inset 1px 1px 1px 1px #141414; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#141414')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#141414');
}

.hashPanelHeading{
	background:#111111 !important;		
}

.hashPanelGroup{
	font-family:Lato, sans-serif;
	font-size:15px;
	margin-top:120px;
	color:#bbbbbb;
	padding-bottom:7px;
	padding-top:4px;
	cursor:pointer;
	border-style:solid;
	border-color:#222222;
	border-width:1px 0px 1px 0px;
}




/*------------------------------------------------ STYLE FOR HOME PAGE --------------------------------------------------*/



.hashHomeBackground{
	height:100%;
	height:100vh;
	padding:30px;
	background:#171717;
}


.hashStoryBox{
	padding:0px;
	margin-bottom:30px;
}

.hashStoryContentBody{
	background:#212121;
}

.hashStoryImageBox{
	padding:0px;
}

.hashStoryImage{
	width:inherit;
	height:auto;
}

.hashHashTag{
	color:#4e4e4e;
	font-size:14px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
}



.hashStoryLabel{
	float:right;
	margin-right:0px;
	width:40px;
	height:35px;
	padding-top:8px;
	border-radius:0px;
	text-align:center;
	background:#f51e4d;
	color:#fff;		
	font-size: 14px;
	letter-spacing:1.3px;
	font-family: Arial, Helvetica, sans-serif;
}

.hashStoryLabelGreen {
	float:right;
	width:40px;
	height:35px;
	padding-top:8px;
	border-radius:0px;
	text-align:center;
	background:#1dcc16;
	color:#fff;		
	font-size: 14px;
	letter-spacing:1.3px;
	font-family: Arial, Helvetica, sans-serif;

}

.hashStoryLabelOrange {
	float:right;
	width:40px;
	height:35px;
	padding-top:8px;
	border-radius:0px;
	text-align:center;
	background:#f87022;
	color:#fff;		
	font-size: 14px;
	letter-spacing:1.3px;
	font-family: Arial, Helvetica, sans-serif;

}


.hashStoryHeading{
	color:#ddd;
	margin-top:0px;
}

.hashStoryContent{
	color:#bbb;
	text-align:justify;
}



/*---------------------------------------Defining Style for HASHBANG MAIN AREA----------------------------------------- */


.hashMainBackground{
	/*background:#eee;
	*/
	

}

.hashMainColumn
{

	border-style:solid;
	border-color:#ddd;
	border-width:0px 1px 1px 0px;
	padding:15px 0 15px 0;
	/*Setting its height to 100% of screen size*/
	overflow:hidden;
	height:100%;
	height:100vh;
	word-wrap:break-word;
}

.hashMainStory{
	padding-left:30px;
	padding-right:30px;
}

.hashMainHalfStory{
	padding-top:15px;

}

@media (min-width: 768px) {
	
.hashMainHalfStory{
	padding-left:30px;
	padding-right:30px;
	width:477px;
	text-align:justify;

}
}

.hashMainHalfColumn{

	padding-right:0px;
	overflow-x:hidden;
}

.hashStoryMainHeading{
	padding-top:0px;
	margin-top:10px;
	margin-bottom:0px;
	padding-bottom:20px;
	color:#424542;
}

.hashMainStoryParagraph{
	color:#393b39;
	margin-bottom:30px;
	font-size:16px;
}



.hashMainStoryImage{
	width: inherit;
	height:auto;
	padding:5px;
	margin-bottom:30px;
}

.hashMainStoryImageBox{
	padding:0px 20px 0px 20px;
}

@media (min-width: 768px)  {
.hashCurrentPageNav{
	height:7px;
	background:#f61e4c;
	border-style:solid;
	border-color:#eee;
	border-width:0px 1px 0px 0px;
	overflow:hidden;
	
}

.hashNextPageNav{
	height:7px;
	background:#7144fe;
	overflow:hidden;
}

}


.hashMainStoryHashTag{
	padding-bottom:0px;
	margin-bottom:0px;
	color:#3b3b3b;
	font-size:14px;
	font-family:Lato-Bold-Italic, sans-serif;
	cursor:pointer;
}
.hashMainStoryHashTag:hover{
	color:#1b1b1b;
}


.hashMainStoryPostedHashTag{
	padding-bottom:3px;
	padding-right:8px;
	display:inline-block;
	color:#235ea7;
	font-size:15px;
	
	/*font-weight:bold; */
	font-family:Calibri, Arial, Verdana; 

	cursor:pointer;
	margin-bottom:0px;
	margin-top:8px;
}

.hashMainStoryPostedHashTag:hover{
	/*color:#1b1b1b;*/
	color:#184b8b;
	font-weight:bold;
}

.testPostedHashTag{
	margin-bottom:14px;
	padding-right:10px;
	margin-bottom:0px;
	color:#128be0;
	font-size:14px;
	font-family:Lato-Bold-Italic, sans-serif;
	cursor:pointer;
}

.hashMainStoryPostedHashTag-Green{
	color:#05c81b;
}
.hashMainStoryPostedHashTag-Green:hover{
	color:#0ab21e;
}

.hashMainStoryPostedHashTag-Yellow{
	color:#dfd207;
}
.hashMainStoryPostedHashTag-Yellow:hover{
	color:#c2b927;
}

.hashMainStoryPostedHashTag-Maroon{
	color:#822;
}
.hashMainStoryPostedHashTag-Maroon:hover{
	color:#c50834;
}

.hashMainStoryPostedHashTag-Blue{
	color:#5b28fa;
}
.hashMainStoryPostedHashTag-Blue:hover{
	color:#4822c0;
}

.hashTotalVoteFlag{
	background:url(../images/flag.png) no-repeat;
	width:60px;
	height:35px;
	color:#ddd;
	float:right;
	padding-top:7px;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
	font-family:Lato, sans-serif;
	overflow:hidden;
	cursor:default;
	word-wrap:normal;
}

.hashTotalVoteFlag:hover{
	color:#fff;
}

.hashMainStoryMetadata{
	padding:0px;
}

.hashMainVotesThumb{
	text-align:right;
	cursor:pointer;
}

.hashBreadcrumbLink{
	background:none;
	margin-bottom:0px;
}

.hashBreadcrumbBox{
	display:inline;
	padding-left:30px;
	padding-right:0px;
	
}

.hashMainHashTagPostBox{
	margin-left:30px;
	box-shadow:none;	
	border:none;
	border-style:none;
	border-width:0px;
}

.hashMainStoryMetadataHashtag{
	padding-left:30px;
	padding-right:30px;
	margin-bottom:30px;
	margin-left:5px;

}

.hashMainHashTagPost{
	margin-right:15px;
	border-radius:0px;
	
}

.hashMainHashTagPost:focus{
	box-shadow:none ;
	-moz-box-shadow: none ;
	-webkit-box-shadow:none;
	border-color:#9c9c9c;
}

.hashMainPromoteText{
	margin-left:30px;
	text-align:left;
	width:auto;
	/*
	color:#126ed6; */
	color:#111;
	font-family:Calibri, Arial, Verdana;
	border-style:solid;
	border-color:#ccc;
	border-width:0px 0px 1px 0px;
	cursor:default;
	
}
.hashMainPromoteText:hover{
	/*color:#064994;*/
	color:#444;
}


.hashMainTagPostSubmitButton{
	border-radius:0px;
}

.hashPageFooter{
	position:relative;
	bottom:0px;	

}
